*{
    padding: 0px;
    margin: 0px;
}

body, html {
    height: 100%;
  }

.header{
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 30px;
    color : black;
    background-color:slategrey;
}

.buttons{  
    background-color:azure;
    display: flex;
    justify-content: center;
    align-items: center;
}


.items{
    margin: 20px;
    padding: 20px;
    font-size: 80px;
    border-radius: 20px;
    background-color: lightpink;

}

.Text{
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 25px;

}

#paragraph{
    padding-left: 20px;
    font-style: oblique;
    font-size: 30px;
}

.Score{
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;

}

#result{
    font-size: 30px;
}

.footer{
    background-color: slategrey;
}

.footer-text {
    height: 150px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    margin-right: 20px;
    height: 200px;
}
